<!-- Pagina para Login/Cadastro e talvez outras informaçoes  -->
{%extends 'shared/layout.html'%}
{%block conteudo%}
<form action="/" method="POST">
    {% csrf_token %}

</form>

<div class="cadastro">
    <div><img class="shinobi" src="/static/img/shinobi.png" alt=""></div>

<div><input type="text"><p> Digite seu Login </p></input></div>
<div><input type="text" name="" id=""><p> Digite sua senha</p> </input></div>
<div><input type="text" name="" id=""><p> Digite seu e-mail</p> </input></div>
<input type="button" value="cadastrar">
</div>

{% endblock %}