<!-- Pagina para Login/Cadastro e talvez outras informaçoes  -->
{%extends 'shared/layout.html'%}
{%block conteudo%}
<section class="ajuste">
    <a href="/"><h1>NINJA VIRTUAL <span>.</span></h1></a>
    <section class="login">
        <div id="login">
            <form action="/login" method="POST" class="flogin">
                {% csrf_token %}
                <h3>Login</h3>
                    
                {{msg}}
                
                <input type="email" name="email" placeholder= "E-mail" required>
                    
                <input type="password" name="senha" placeholder="Senha" required>
                    
                <input type="submit" value="ENTRAR">
            </form>           
        </div>
        <div class="botoes">
            <div id="shinobi"><a href="/"><img src="/static/img/shinobi.svg" alt=""></a></div>
            <button id="btn">Faça Seu Login OU Cadastre-se</button>
            <div class="informacao">
                <span>Saiba Mais <a href="#">></a> </span>
            </div>
            <!--onclick="mostrarLogin()"-->    
        </div>
        
        <div id="cadastro" >
            <form action="/" method="POST" class="mostrar">
                {% csrf_token %}
                <h3>Cadastro</h3>
                {{msg}}

                <input type="text" name="nome" placeholder="Nome"required>
                
                <input type="text" name="sobrenome" placeholder="Sobrenome"required>
                
                <label>Gênero</label>
                <select name="genero" required class="opcoes">
                    <option value="MA">Masculino</option>
                    <option value="FE">Feminino</option>
                    <option value="OU">Outros</option>
                </select>
                
                <input type="email" name="email" placeholder="E-mail"required>
                
                <input type="password" name="senha" placeholder="Senha" required>
                
        <input type="password" name="confirmar_senha" placeholder="Confirmar senha" required>
        
        <input type="submit" value="CADASTRAR">
    </form>
</div> 
</section>
</section>
{% endblock %}