<!-- Essa pagina é para ser criado o Console -->
{%extends 'shared/layout.html'%}


{%block conteudo%}
{% if user.nome is not None %}

    {% load static %}
    <script src="{% static 'js/debug.js' %}" defer></script>
<nav>
<p>{{user.nome}}</p>
<p></p>
<p></p>

</nav>

<label for="story">Digite seu Codigo aqui:</label>

<form action="/console" method="POST">
    {% csrf_token %}
    <label for="story">Digite seu Codigo aqui:</label>
    <select name="linguagem">
        <option value="H">HTML</option>
        <option value="J">Javascript</option>
        <option value="C">CSS</option>
    </select>
    <textarea name="debugtexto" rows="5" cols="33" placeholder="Digite html:5 para montar a estrutura"></textarea>
    {{msg}}
    <input type="submit" value="Testar">
</form>
    <textarea id="debug_resposta" rows="5" cols="33"></textarea>
{% else %}

<h1>Poxa cara, cê precisa se cadastrar para usar o debugador </h1>

{% endif %}
{% endblock %}
