<!-- Essa pagina é para ser criado o Console -->
{%extends 'shared/layout.html'%}


{%block conteudo%}
{% if user.nome is not None %}

    {% load static %}
    <script src="{% static 'js/debug.js' %}" defer></script>
    <script src="{% static 'js/chat.js' %}" defer></script>

<nav>
    <p></p>
    <p></p>
</nav>
<div class="console">
    <main>
        <img src="" alt="">
        <p>{{user.nome}} {{user.sobrenome}}</p>
    
    </main>
    <div class="debugador">
        <section class="debug">
            <div id="quadradoDebug" class="arrastar">
                Digite seu Codigo aqui:
                <nav>
                    <div>
                        <button onclick="aumentarFonteConsole()">+</button>
                        <button onclick="diminuirFonteConsole()">-</button>
                    </div>
                    <select name="linguagem">
                        <option value="H">HTML</option>
                        <option value="J">Javascript</option>
                        <option value="C">CSS</option>
                    </select>
                    <button onclick="debug()">Testar</button>
                </nav>
                <form action="/console" id="debug" method="POST">
                    {% csrf_token %}
                    <textarea name="debugtexto" rows="5" cols="33" style="font-size: 8pt;" placeholder="Digite html:5 para montar a estrutura"></textarea>
                    {{msg}}
                </form>
            </div>
        </section>
        <section class="debugResposta">
            <div id="quadradoResposta" class="arrastar">
                Resposta
                <textarea id="debug_resposta" rows="5"  disabled cols="33"></textarea>
            </div>
        </section>
    </div>
    
    
        <aside class="chat">
            <form action="/chat" id="chatBot" class="invisivel" style="transition: opacity .5s; opacity: 0;" method="POST">
                {% csrf_token %}
                <textarea id="conversa" rows="10" cols="30" disabled>Bot: Olá posso te ajudar?</textarea>
                <div>
                    <input type="text" name="userResposta" placeholder="Digite aqui">
                    <button onclick="chatBot()">></button>
                </div>
            </form>
            <button class="chatlogo" onclick="exibirChat()"></button>
        </aside>

</div>

{% else %}

<h1>\(o_o)/</h1>
<h6>cadastre-se ")</h6>

{% endif %}
{% endblock %}
