body{
    margin: 0;
    cursor: url('/static/img/kunai.cur'), auto;
    color: white;
    font-family: 'Bungee', cursive;
}
.fundos{
    display: flex;
    flex-direction: column;
    background-image: url('/static/img/fundo.jpg');
 /*   background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.hipwallpaper.com%2Fi%2F51%2F54%2Fxv2g7W.png&f=1');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 30px;
    background-color: rgba(157, 165, 52, 0.5)
}

.arrastar{
    background-color: dimgray;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* PARA HTML DO CADASTRO */
.login{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 99vw;
    height: 99vh;
}
.flogin{
    display: block;
    width: 30%;
    height: 250px;    
}
.shinobi{
    display: flex;
    justify-content: center;
}
.shinobi img{
    width: 200px;
}
.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
#btn{
    border: 0;
    color: white;
    display: flex;
    height: 40px;
    background-color: rgba(157, 165, 52, 0.5);
    font-family: 'Bungee', cursive;
}
#login{
    display: none;
}
#cadastro{
    display: none;
    padding-left: 5vw;
}
.informacao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(157, 165, 52, 0.5);
}
.ajuste{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.300);
    height: 95vh;
}
.ajuste h1{
    color: rgb(157, 165, 52);
    margin: 0;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
}
input{
    border-radius: 3%;
}
/* COLOCAR TUDO DO HTML CADASTRO NESSE ESPAÇO */

/* PARA HTML DO CONSOLE */
.console{
    display: flex;
    flex-direction: row;
}

.console main{
    height: 100%;
    background-color: #4500d0;
}

label,textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 45vw;
    height: 50vh;
}
.debugador{
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;

}

.debug{
    display: flex;
    align-items: center;
    width: 47vw;
    height: 64vh;
    padding: 0 3px;
    align-self: center;
}

.debug form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3px;
}
.debug h3{
    text-align: center;
    margin-top: 5px;
}

.debug nav{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.debug nav button,select{
    background-color: dimgray;
    cursor: pointer;
    height: 4vh;
    width: 100px;
    font-size: 12pt;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    transition-duration: 1s;
}

.debug nav select:hover{
    background-color: transparent;
    transition-duration: 1s;
}
.debug nav button:hover{
    background-color: transparent;
    transition-duration: 1s;
}

.debugResposta{
    width: 47vw;
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.debugResposta textarea{
    background-color: white;
    color: black;
    width: 45vw;
    height: 20vh;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* PARA O CHAT*/

.chat{
    align-items: flex-end;
    bottom: 3px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    right: 5vw;
}

.invisivel{
    display: none;
}

.chat button{
    background-color: dimgray;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}
.chatlogo{
    background-image: url('/static/img/chatlogo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.chat textarea{
    height: 43vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    background-color: dimgray;
    font-size: 8pt;
    color: white;
}
.chat div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat div input{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    height: 5vh;
    margin-right: 1vw;
    background-color: dimgray;
    color: white;
    width: 15vw;
    
}

.chat div button{
    border: 0;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    background-color: green;
    font-size: 16pt;
    height: 4vh;
    width: 5vw;
}

/* COLOCAR TUDO DO HTML CONSOLE NESSE ESPAÇO */

/* RESERVADO PARA OUTROS HTML */


/* RESERVADO PARA OUTROS HTML */