body {
  overflow-x: hidden;
  color: white;
  cursor: url("/static/img/kunai.cur"), auto;
  font-family: "Bungee", cursive;
  margin: 0;
}
.fundos {
  background-image: url("/static/img/fundo.jpg");
  /*   background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.hipwallpaper.com%2Fi%2F51%2F54%2Fxv2g7W.png&f=1');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
nav {
  background-color: #1c1d1f;
  height: 30px;
}

.arrastar {
  background-color: rgb(0, 66, 133);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker", cursive;
  font-size: 18pt;
  position: absolute;
  text-align: center;
  user-select: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* PARA HTML DO CADASTRO */
.login {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 99vw;
  transition: 1s;
}
.rodape {
  background-color: lightgray;
  font-size: 20px;
  display: flex;
  padding-left: 260px;
  padding-right: 220px;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.rodape a {
  text-decoration: none;
  color: lightslategray;
}

.icn {
  align-items: center;
  display: flex;
  justify-content: center;
}
.img3 {
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: lightgray;
}
.img4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.caixa:hover {
  background-color: rgb(0, 66, 133);
}
.flogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 10%;
}
.flogin input {
  margin: 3px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
}
#shinobi {
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
#shinobi:hover {
  transform: rotateY(180deg);
  transition: 0.5s;
}
#shinobi img {
  width: 200px;
  transition: 0.5s;
}
#shinobi img:hover {
  /*  transform: rotateY(180deg);*/
  width: 180px;
  transition: 0.2s;
}
.botoes {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
#btn {
  align-items: center;
  background-color: rgba(0, 66, 133, 0.5);
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: "Bungee", cursive;
  height: 40px;
  transition: 1s;
}
#btn:hover {
  font-size: 15px;
  background-color: white;
  color: black;
  opacity: 0.5;
  transition: 2s;
}
#login {
  background-color: rgba(0, 66, 133, 0.5);
  display: none;
  height: 100%;
  width: 35%;
  border-radius: 3px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  transition: 1s;
}
#cadastro {
  background-color: rgba(0, 66, 133, 0.5);
  display: none;
  height: 100%;
  width: 35%;
  border-radius: 3px;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  transition: 1s;
}
.mostrar {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 100%;
}
.mostrar input {
  margin: 10px;
  width: 70%;
  height: 40px;
  border-radius: 3px;
  border: 0;
}

.informacao {
  align-items: center;
  background-color: rgba(0, 66, 133, 0.5);
  display: flex;
  height: 40px;
  justify-content: center;
  border-radius: 3px;
  transition: 0.5s;
}
.informacao:hover {
  font-size: 19px;
  background-color: white;
  color: black;
  opacity: 0.5;
  transition: 1s;
}
.ajuste {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("/static/img/fundo.jpg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.ajuste h1 {
  color: rgb(0, 66, 133);
  font-family: "Permanent Marker", cursive;
  font-size: 60px;
  margin: 0;
}
.ajuste h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.ajuste a {
  text-decoration: none;
}
input {
  border-radius: 3%;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}
input:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.opcoes {
  border-color: black;
  width: 60%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 3%;
}
.place {
  font-family: Arial;
  font-weight: bold;
}
.travis {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.icone {
  align-items: center;
  display: flex;
  justify-content: center;
}
.img2 {
  justify-content: space-around;
  display: flex;
  height: 50vh;
  align-items: center;
}
.icone img {
  height: 100px;
  width: 100px;
}
.travis p {
  margin-top: 20px;
  font-size: 25px;
  color: #a09f9f;
}

/* COLOCAR TUDO DO HTML CADASTRO NESSE ESPAÇO */

/* PARA HTML DO CONSOLE */
.console {
  padding-top: 40px;
  display: grid;
  grid-template-areas:
    "user debug"
    "user erros";
}
/* PERFIL CONSOLE */
.console .user {
  grid-area: user;
}
.console main {
  position: fixed;
}
.console main .perfil {
  background-color: rgba(0, 66, 133, 0.8);
  border-radius: 0px 8px 8px 0px;
  border: 1px solid black;
  margin-bottom: 5vh;
}
.console main div:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
}
.console main div:hover p {
  color: black;
}
.console main div:hover button {
  color: black;
}
.console .quadradouser img {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.dadosuser {
  margin-right: 20px;
}
.perfil p {
  margin: 5px 0 5px;
  color: white;
  font-weight: 200;
}
.perfil button {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: "Bungee", cursive;
  font-size: 12pt;
  margin: 5px 0 5px;
  width: 90%;
  font-weight: 200;
}

.quadradouser {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-right: 5px;
}

/* DEBUGADOR CONSOLE */
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  height: 50vh;
  line-height: 1.5;
  width: 45vw;
}

.debug {
  align-items: center;
  align-self: center;
  display: flex;
  height: 61vh;
  grid-area: debug;
  width: 45.6vw;
}
.debug textarea {
  background-color: white;
  width: 45vw;
}
.debug form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3px;
}
.debug h3 {
  margin-top: 5px;
  text-align: center;
}

.debug nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  width: 100%;
}
.debug nav div {
  display: flex;
}

.debug nav button,
.debug nav select {
  background-color: rgba(0, 66, 133, 0.5);
  border-radius: 8px 8px 8px 8px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 10pt;
  font-family: "Bungee", cursive;
  height: 4vh;
  margin: 0.5vh 0 0.5vh;
  text-align: center;
  text-align-last: center;
  font-weight: bold;
  width: 8vw;
}

.debug nav select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.debug nav select:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
  color: black;
}
.debug nav button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 0.5s;
  color: black;
}
.debug nav select:active {
  background-color: rgba(0, 66, 1330.5);
  transition-duration: 0.1s;
}
.debug nav button:active {
  background-color: rgba(0, 66, 133, 0.5);
  transition-duration: 0.1s;
}

.debugResposta {
  align-items: center;
  display: flex;
  grid-area: erros;
  height: 26vh;
  justify-content: center;
  margin-top: 10px;
  width: 45.6vw;
}
.debugResposta textarea {
  background-color: white;
  color: black;
  height: 20vh;
  width: 45vw;
}

label {
  display: block;
  margin-bottom: 10px;
}
/* BOTAO SAIR CONSOLE */
.sair {
  align-self: flex-end;
  background-color: rgba(255, 0, 0, 0.464);
  background-image: url("/static/img/sair.png");
  background-size: 40px 40px;
  border: 1px solid black;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-self: end;
  position: fixed;
  width: 40px;
}
.sair a {
  height: 100%;
  text-decoration: none;
  width: 100%;
}

/* PARA O CHAT*/

.chat {
  align-items: flex-end;
  border-radius: 8px 8px 8px 8px;
  bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: fixed;
  right: 5vw;
}

.invisivel {
  display: none;
}

.chat button {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  height: 48px;
  width: 48px;
}
.chatlogo {
  background-image: url("/static/img/chatlogo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chat textarea {
  color: white;
  background-color: rgba(46, 46, 46, 0.7);
  border: 1px solid rgb(0, 66, 133);
  border-radius: 8px 8px 8px 8px;
  font-size: 10pt;
  height: 43vh;
  text-align: justify;
  width: 21vw;
}
.chat div {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.chat div input {
  background-color: rgba(46, 46, 46, 0.7);
  border: 1px solid rgb(0, 66, 133);
  border-radius: 8px 8px 8px 8px;
  color: white;
  height: 5vh;
  margin-right: 1vw;
  width: 15vw;
}

.chat div button {
  background-color: rgba(7, 207, 30, 0.8);
  border: 0;
  border-radius: 10px 10px 10px 10px;
  color: white;
  cursor: pointer;
  font-size: 16pt;
  height: 4vh;
  width: 5vw;
}
/* erro console*/
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
/* erro console */

/* COLOCAR TUDO DO HTML CONSOLE NESSE ESPAÇO */
