body{
    margin: 0;
    cursor: url('/static/img/kunai.cur'), auto;
    background-image: url('/static/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    display: flex;
    color: white;
    font-family: 'Bungee', cursive;
/* PARA HTML DO CADASTRO */
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.300);
    height: 100vh;
    width: 100vw;
/*    border-radius: 8px 8px 8px 8px;*/
}
.flogin{
    display: block;
    width: 30%;
    height: 250px;    
}
.shinobi{
    width: auto;
    height: 150px;
    margin-bottom: 10px;
}

.cadastro p, button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    border-radius: 3%;
}
/* COLOCAR TUDO DO HTML CADASTRO NESSE ESPAÇO */

/* PARA HTML DO CONSOLE */
label,textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea{
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    width: 40vw;
    height: 50vh;
}

.debug form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.debug h3{
    color: white;
    text-align: center;
}

.debug div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
}

.debugResposta{
    background-color: white;
    color: black;
    width: 40vw;
    height: 20vh;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* PARA O CHAT*/

.chat{
    align-items: center;
    bottom: 3px;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    right: 5vw;
    width: 20vw;
}
.invisivel{
    display: none;
}
.chat button{
    background-color: dimgray;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
}
.chat textarea{
    height: 43vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    background-color: dimgray;
    font-size: 8pt;
    color: white;
}
.chat div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat div input{
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    height: 5vh;
    margin-right: 1vw;
    background-color: dimgray;
    color: white;
    width: 15vw;
    
}

.chat div button{
    border: 0;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    background-color: green;
    font-size: 16pt;
    height: 4vh;
    width: 5vw;
}

/* COLOCAR TUDO DO HTML CONSOLE NESSE ESPAÇO */

/* RESERVADO PARA OUTROS HTML */


/* RESERVADO PARA OUTROS HTML */