body{
    color: white;
    cursor: url('/static/img/kunai.cur'), auto;
    font-family: 'Bungee', cursive;
    margin: 0;
}
.fundos{
    background-image: url('/static/img/fundo.jpg');
    /*   background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.hipwallpaper.com%2Fi%2F51%2F54%2Fxv2g7W.png&f=1');*/
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
nav{
    background-color: rgba(157, 165, 52, 0.5);
    height: 30px;
}

.arrastar{
    background-color: dimgray;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px 0 0;
    position: absolute;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* PARA HTML DO CADASTRO */
.login{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 99vw;
    transition: 10s;
}
.flogin{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 10%;
}
.flogin input{
    margin: 20px;
    width: 100%;
}
#shinobi{
    display: flex;
    justify-content: center;
    transition: 0.2s;
}
#shinobi:hover{
    transform: rotateY(180deg);
    transition: 0.5s;
}
#shinobi img{
    width: 200px;
    transition: 0.5s;
}
#shinobi img:hover{
  /*  transform: rotateY(180deg);*/
    width: 180px;
    transition: 0.2s;
}
.botoes{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
#btn{
    background-color: rgba(157, 165, 52, 0.5);
    border: 0;
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Bungee', cursive;
    height: 40px;
    border-radius: 3px;
    transition: 1s;
}
#btn:hover{
    font-size: 15px;
    background-color: white;
    color: black;
    opacity: 0.5;
    transition: 2s;
}
#login{
    background-color: rgba(157, 165, 52, 0.5);
    display: none;
    height: 100%;
    width: 35%;
    border-radius: 3px;
    transition: 10s;
}
#cadastro{
    background-color: rgba(157, 165, 52, 0.5);
    display: none;
    height: 100%;
    width: 35%;
    border-radius: 3px;
    transition: 10s;
}
.mostrar{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding: 5%;
    width: 100%;
}
.mostrar input{
    margin: 10px;
    width: 70%;
}

.informacao{
    align-items: center;
    background-color: rgba(157, 165, 52, 0.5);
    display: flex;
    height: 40px;
    justify-content: center;
    border-radius: 3px;
    transition: 0.5s;
}
.informacao:hover{
    font-size: 19px;
    background-color: white;
    color: black;
    opacity: 0.5;
    transition: 1s;
}
.ajuste{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.300);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.ajuste  h1{
    color: rgb(157, 165, 52);
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    margin: 0;
}
.ajuste a{
    text-decoration: none; 
}
input{
    border-radius: 3%;
}
/* COLOCAR TUDO DO HTML CADASTRO NESSE ESPAÇO */

/* PARA HTML DO CONSOLE */
.console{
    padding-top: 40px;
    display: grid;
    grid-template-areas: 'user debug'
                         'user erros';
    
}
/* PERFIL CONSOLE */
.console .user{
    grid-area: user;
}
.console main{
    position: fixed;
}
.console main .perfil{
    background-color: dimgray;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid black;
    margin-bottom: 20px;

}
.console main div:hover{
    background-color: rgba(157, 165, 52, 0.5);
    transition-duration: 0.5s;
}
.console .quadradouser img{
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.dadosuser{
    margin-right: 20px;
}
.perfil p{
    margin: 5px;
}
.perfil button{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: 'Bungee', cursive;
    font-size: 12pt;
    margin: 5px 0 5px;
    width: 90%;
}

.quadradouser{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-right: 5px;
}

/* DEBUGADOR CONSOLE */
label,textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}

textarea{
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    height: 50vh;
    line-height: 1.5;
    padding: 10px;
    width: 45vw;
}

.debug{
    align-items: center;
    align-self: center;
    display: flex;
    height: 64vh;
    grid-area: debug;
    padding: 0 3px;
    width: 47vw;
}

.debug form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
}
.debug h3{
    margin-top: 5px;
    text-align: center;
}

.debug nav{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5vh;
    justify-content: space-around;
    width: 100%;
}

.debug nav button, .debug nav select{
    background-color: dimgray;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-size: 12pt;
    height: 4vh;
    text-align: center;
    transition-duration: 1s;
    width: 100px;
}
.debug nav select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.debug nav select:hover{
    background-color: transparent;
    transition-duration: 0.5s;
}
.debug nav button:hover{
    background-color: transparent;
    transition-duration: 0.5s;
}
.debug nav select:active{
    background-color: rgba(45, 12, 190, 0.7);
    transition-duration: 0.1s;
}
.debug nav button:active{
    background-color: rgba(45, 12, 190, 0.7);
    transition-duration: 0.1s;
}

.debugResposta{
    align-items: center;
    display: flex;
    height: 28vh;
    justify-content: center;
    grid-area: erros;
    width: 47vw;
}

.debugResposta textarea{
    background-color: white;
    color: black;
    height: 20vh;
    width: 45vw;
}

label {
    display: block;
    margin-bottom: 10px;
}
/* BOTAO SAIR CONSOLE */
.sair{
    align-self: flex-end;
    background-color: rgba(255, 0, 0, 0.464);
    background-image: url('/static/img/sair.png');
    background-size: 40px 40px;
    border: 1px solid black;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-self: flex-end;
    position: absolute;
    width: 40px;
}
.sair a{
    height: 100%;
    text-decoration: none;
    width: 100%;
}

/* PARA O CHAT*/

.chat{
    align-items: flex-end;
    border-radius: 8px 8px 8px 8px;
    bottom: 3px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    right: 5vw;
}

.invisivel{
    display: none;
}

.chat button{
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    height: 40px;
    width: 40px;
    
}
.chatlogo{
    background-image: url('/static/img/chatlogo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.chat textarea{
    color: white;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    font-size: 8pt;
    height: 43vh;
    width: 20vw;
}
.chat div{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.chat div input{
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 8px 8px 8px 8px;
    color: white;
    height: 5vh;
    margin-right: 1vw;
    width: 15vw;
}

.chat div button{
    background-color: green;
    border: 0;
    border-radius: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
    font-size: 16pt;
    height: 4vh;
    width: 5vw;
}

/* COLOCAR TUDO DO HTML CONSOLE NESSE ESPAÇO */

/* RESERVADO PARA OUTROS HTML */


/* RESERVADO PARA OUTROS HTML */